version: 2.1
orbs:
  cypress: cypress-io/cypress@1.10.0
workflows:
  build:
    jobs:
      - cypress/install
      - cypress/run:
          requires:
            - cypress/install
          record: true
      - cypress/run:
          requires:
            - cypress/install
